body {

    /* Sets padding and margin to 0 to remove any default spacing.
Sets the height to 100vh (viewport height), ensuring that the background covers the entire viewport. */
    padding: 0;
    margin: 0;
    height: 100vh;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=202471&c2=f0cd87&gt=l&gd=dtl
*/
/* Defines a gradient background using the linear-gradient function, starting from a dark blue color (rgba(32, 36, 113, 1.0)) and ending with a light beige color (rgba(240, 205, 135, 1.0)). */

background: rgba(32, 36, 113, 1.0);
background: linear-gradient(135deg, rgba(32, 36, 113, 1.0), rgba(240, 205, 135, 1.0));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; /*Uses Flexbox to center the content vertically and horizontally. */
    justify-content: center;
    align-items: center;
    font-family: "Yantramanav", sans-serif;
  }
  
  .intro {
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    height: 30%;
    /* Hides the element initially (display: none;). */
    display: none;
    text-shadow: rgb(120, 174, 197) 2px 0 18px;
    
  }
  
  .head {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  
  .head-hs:nth-child(1) {
    font-size: 2.4rem;
    margin: 0.5rem;
  }
  
  .head-hs:nth-child(2) {
    font-size: 2.7rem;
    margin: 0.5rem;
  }
  
  .play-btn {
    font-size: 40px;
    cursor: pointer;
  }
  
  .game-mode {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 800px;
    height: 90%;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    gap: 20px;
  }
  
  .card-flip {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }
  
  .card-flip div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-flip .card-front {
    transform: rotateY(-180deg);
  }
  
  .card-flip.flipped {
    transform: rotateY(-180deg);
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    font-size: 1.3rem;
  }
  
  .header h1 {
    margin: 0;
    padding: 1rem;
    color: aliceblue;
    text-shadow: rgb(49, 95, 114) 10px 0 20px;
  }
  
  img {
    width: auto;
    height: 10vh;
  }
  
  .score {
    align-items: center;
    justify-content: center;
  }
  
  .card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    transform: rotateY(90deg);
  }
  
  .card-back {
    background-color: goldenrod;
  }
  
  .board{
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 228, 223, 0.5);
    padding: 1rem;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  .board button{
    padding:1rem;
    width: 150px;
    background-color: goldenrod;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Yantramanav", sans-serif;
    font-weight: bold;
  }
  
  .board button:hover{
    background-color: cadetblue;
  }
  
  .end{
    max-width: 700px;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all ease-in 500s;
  }
  
  .congrats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .end-h1{
    font-size: 4rem;
    color: white;
  }
  
  .congrats button{
    padding: 0.5rem 1rem;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(231, 174, 99);
    font-weight: bold;
  }
